
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.Home {
    text-align: center;
    font-family: 'Montserrat';
}

.radio {
    background-color: ghostwhite;
    border-radius: 15px;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    color: #000000;
}

.Home h1 {
    background-color: ghostwhite;
    border-radius: 15px;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    color: #000000;
}

.Events {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 250px 0 250px;
}

.Events .Event {
    margin: 0 auto;
    margin-bottom: 30px;
}
ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
  }
  
  li:not(:last-child) {
    margin-bottom: 5px;
  }
  
  label {
    display: flex;
    align-items: center;
  }
  
  input[type="radio"] {
    margin: 0 10px 0 0;
  }
  
  .title {
    font-weight: bold;
    font-size: 18px;
  }
  
  .submit-button {
    border: 0;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    cursor: pointer;
    background-color: #7E57C2;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
  }
  
  .submit-button:hover {
    background-color: #673AB7;
  }
  
  .submit-button:active {
    transform: translateY(1px);
  }