@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.Event {
    /* width: 30%;
    background-color: ghostwhite;
    border-radius: 15px;
    display: block; */
    background: ghostwhite;
    display: flex;
    flex-direction: column;
    display: block;
    width: 30%;
    /* width: 456px;
    height: 326px; */
    border-radius: 10px;
    
}
.Event .row-item{
    
    padding-left: 10px;
      
}
.Event .group {
    flex-grow: 1;
  }
.Event .meetup {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
  }
.Event .icon {
    display: inline-block;
    position: relative;
    top: -.1em;
    vertical-align: middle;
    position: relative;
   
    margin-left: 10px;
    
  }
.Event .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}
.Event .description {
    height: 50px;
    font-size: 36 px;
    padding: 20px;
    text-align: left;
    /* flex-direction: column; */
}
.Event .details {
    display: flex;
    flex-direction: column;
  }

.Event img {
    height: 180px;
    filter: brightness(60%);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
}

.Event .likes, .buttons {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.Event .likes .blue {
    color: #000000;
}

.Event .likes i {
    width: 20px;
    height: 20px;
    background-color: ghostwhite;
    position: absolute;
    left: 20px;
    color: black;
}

.Event .likes span {
    position: absolute;
    bottom: 5px;
    left: 50px;
}

.Event .buttons .links {
    width: 50px;
    font-family: Montserrat;
    position: absolute;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 3px;
}

.Event .links:nth-child(1) {
    right: 100px;
    background-color: #000000;
    color: ghostwhite;
}

.Event .links:nth-child(2) {
    /* likes */
    right: 20px;
    background-color: crimson;
    color: ghostwhite;
}

.Event .details:hover {
    filter: brightness(40%);
    cursor: pointer;
}